
body {
    background-color: #0077ff;
}

section {
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    box-shadow: 5px 5px 8px black;
}

h1 {
    font: normal 2em arial;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

footer  {
    text-align: center;
    font: normal 1em arial;
    color: #ffffff;
    font-style: italic;
}